/* GENEREAL */ /* #region */
@font-face {
  font-family: "Pokemon Solid";
  src: url("./assets/fonts/Pokemon Solid.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  font-family: "Pokemon Solid", sans-serif;
}

/* #endregion */

/* HEADER */ /* #region */
header {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: #f55;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #3d7dca;
  box-shadow: 0 3px 10px #00000090;
}

header h2 {
  height: 100%;
  line-height: 95px;
  text-align: center;
  color: #ffcb05;
  -webkit-text-stroke: 2px #3d7dca;
  text-shadow: -3px 3px 2px #003a70;
  letter-spacing: 4px;
  font-size: 50px;
}

/* #endregion */

main {
  min-height: calc(100vh - 152px);
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* GAME */ /* #region */
.game-content {
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknown-pokemon {
  width: 250px;
  height: 250px;
}

.pokemon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0);
}

.show {
  filter: brightness(1);
  transition: filter 1s;
}

.game-options {
  width: 100%;
}

.list-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.game-options li {
  height: 65px;
  font-size: 32px;
  line-height: 45px;
  cursor: pointer;
  letter-spacing: 4px;
  color: #ffcb05;
  font-weight: 400;
  transition: transform 0.2s, color 0.2s;
  border-radius: 10px;
  -webkit-text-stroke: 1px #777;
  text-shadow: -2px 2px 5px #777;
}

.game-options li:hover {
  transform: scale(1.1);
  color: #ffcb05;
  -webkit-text-stroke: 3px #3d7dca;
  text-shadow: -3px 3px 4px #003a70;
}

.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}

/* #endregion */

/* POKEDEX */ /* #region */
.pokedex-content {
  width: 100%;
  max-width: 310px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Patrick Hand", cursive;
}

.pdx-name {
  font-size: 65px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.pdx-num {
  font-size: 23px;
}

.pdx-description {
  max-width: 300px;
  min-height: 130px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pdx-char-box {
  width: 300px;
  padding: 25px 15px 10px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  color: #fff;
  background-color: #40b7e7;
  box-shadow: 0 0 10px #30a7d7;
}

.char-box-item {
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.char-box-item-title {
  font-size: 18px;
}

.char-box-item-text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}

.pdx-type-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.pdx-type-items {
  display: flex;
  gap: 20px;
}

.pdx-type-item {
  width: 140px;
  height: 32px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  box-shadow: -1px 2px 5px #00000090;
}

.fire {
  background-color: #fd7d24;
}
.fairy {
  background-color: #fdb9e9;
}
.dragon {
  background-color: #f35352;
}
.ground {
  background-color: #c3bc01;
}
.flying {
  background-color: #299;
}
.ice {
  background-color: #51c4e7;
}
.ghost {
  background-color: #7b62a3;
}
.dark {
  background-color: #707070;
}
.rock {
  background-color: #a38c21;
}
.poison {
  background-color: #b97fc9;
}
.bug {
  background-color: #729f3f;
}
.normal {
  background-color: #a4acaf;
}

.steel {
  background-color: #9eb7b8;
}
.psychic {
  background-color: #f366b9;
}
.grass {
  background-color: #9bcc50;
}
.electric {
  background-color: #eed535;
}
.fighting {
  background-color: #d56723;
}
.water {
  background-color: #4592c4;
}
.rock {
  background-color: #a38c21;
}

/* #endregion */

/* NEXT-BTN */ /* #region */
.next-btn {
  width: 220px;
  height: 60px;
  margin-top: 45px;
  border-radius: 5px;
  color: #fff;
  font-size: 40px;
  font-family: "Patrick Hand", sans-serif;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
  border: none;
  background-color: #f33;
  box-shadow: 0px 5px 10px #00000099;
  z-index: 10;
  cursor: pointer;
}

.fa-caret-right {
  font-size: 35px;
}

.next-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

/* #endregion */
/* FOOTER */ /* #region */
footer {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 27px;
  color: #999;
  font-family: sans-serif;
  background-color: #f33;
  background-color: #fff;
}

footer a {
  color: #999;
}

/* #endregion */
